.listingGrid a,
.listingGrid a:hover {
  color: #000;
  text-decoration: none; }

.sortNav {
  margin: 10px; }
  .sortNav button {
    margin-right: 10px;
    width: 120px; }

.reCards {
  display: flex;
  flex-wrap: wrap; }

@media screen and (max-width: 600px) {
  .sortNav button {
    width: 80px; } }
