.reCard {
  display: flex;
  flex-direction: row;
  width: 560px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;

  .cardDetails {
    width: 100%;
    padding-top: 10px;
    margin-left: 10px;

    .built {
      text-align: right;
      font-size: 10px;
    }

    .price {
      font-size: 46px;
    }

    .fineDetails {
      display: flex;
      div {
        padding-right: 5px;
      }
    }
  }

  .address {
    font-weight: bold;
    font-size: 24px;
    color: #007bff;
  }
}
@media screen and (max-width: 600px) {
  .reCard {
    .cardImage {
      img {
        width: 100px;
      }
    }
    .cardDetails {
      padding-top: 0px;

      .fineDetails {
        font-size: 12px;
      }
      .price {
        font-size: 18px;
      }
    }
    .address {
      font-size: 14px;
    }
  }
}
