.reCard {
  display: flex;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  min-width: 236px;
  width: 560px;
  cursor: pointer; }

.padded {
  margin-top: 15px; }

.cardDetails {
  flex: 1;
  min-width: 0;
  margin-left: 10px; }
  .cardDetails div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .cardDetails .built {
    text-align: right;
    font-size: 10px; }
  .cardDetails .address {
    font-weight: bold;
    font-size: 24px;
    color: #007bff; }
  .cardDetails .price {
    font-size: 46px; }
  .cardDetails .fineDetails {
    display: flex; }
    .cardDetails .fineDetails div {
      padding-right: 5px; }

@media screen and (max-width: 600px) {
  .reCard {
    width: auto; }
  .cardImage img {
    width: 100px; }
  .cardDetails .fineDetails {
    font-size: 12px; }
  .cardDetails .price {
    font-size: 16px; }
  .cardDetails .address {
    font-size: 14px; } }
